body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.search-tab-panel {
    background-image: url('../public/Images/search-food-bkg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: calc(100% - 48px);
    height: calc(100vh - 162px);
    padding: 24px;
    overflow-y: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categories-tab-panel {
    height: calc(100vh - 162px);
    padding: 24px;
    position: relative;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comments-tab-panel {
    height: calc(100vh - 162px);
    padding: 24px;
    position: relative;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single-food-container {
    padding: 88px 30px 30px 1000px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}